main{
    gap: 5rem;
}
.btn:focus{
    box-shadow: none;
}
.form_wrapper{
    width: 50%;
}

@media screen and (min-width: 992px){
    .row-cols-lg-10 > .col{
        flex: 0 0 auto;
        width: 10%;
    }
    .form_wrapper{
        width: 35%;
    }
}